@import "../variables.scss";
@import '../function.scss';
@import '../mixing.scss';

button,.button{
    background-color: var(--bg-primary);
  color: var(--white);
  padding: rem(10);
  margin-top: rem(10);
  border: none;
  border-radius: rem(50) !important;
  max-height: rem(40);
  cursor: pointer;
  transition: background 0.3s;
  @include fontStyle(var(--fs-14),rem(20),500);
  @include flex(center,center);
  &.white{
      background-color: var(--white) !important;
       color: var(--black-100) !important;
       @include fontStyle(var(--fs-14),rem(20),600);
       border: none;
    }  
    
    .btn_outline {
  border: rem(1) solid var(--black-100);
  color: var(--black-100);
  padding: rem(8) rem(12);
  border-radius: rem(30);
}

.btn_fill {
  background-color: var(--black-100);
  color: var(--white);
  padding: rem(8) rem(12);
  border-radius: rem(30);
}
}


