@import '../../style.scss';

.subscribe-section {
  background-color: var(--bg-primary);
  padding: 4rem 1rem;
  min-height: 300px;
  border-radius: rem(6);
}

.subscribe-section input.form-control {
  width: 100%;
  max-width: 350px;
}

.subscribe-section .subscribe-btn {
  background: white;
  color: #6c2bd9;
  transition: 0.3s ease-in-out;
}

.subscribe-section .subscribe-btn:hover {
  background-color: #e7e7e7;
}

.dot-text {
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
