@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./Scss//font.scss";
@import "./Scss//function.scss";
@import "./Scss//mixing.scss";
@import "./Scss//variables.scss";
// @import "./Scss/reset.scss";
@import './Scss/Components/Button.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import './Scss/Components/input.scss';

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

#root{
  background-color: var(--bg-primary-100);
}

h1{
   @include fontStyle(var(--fs-40),rem(48),600);
   margin: 0 !important;
   padding: 0 !important;
   color: var(--text-primary);
}

h2{
   @include fontStyle(var(--fs-32),rem(40),600);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

h3{
   @include fontStyle(var(--fs-24),rem(32),600);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

h4{
   @include fontStyle(var(--fs-20),rem(28),600);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

h5{
   @include fontStyle(var(--fs-18),rem(26),600);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

h6{
   @include fontStyle(var(--fs-16),rem(24),600);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

p{
   @include fontStyle(var(--fs-16),rem(24),400);
    margin: 0 !important;
   padding: 0 !important;
     color: var(--text-primary);
}

span{
  @include fontStyle(var(--fs-15),rem(24),500);
  color: var(--white);
   margin: 0 !important;
   &.discount {
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
}
}
ul li{
   @include fontStyle(var(--fs-16),rem(26),600);
}

label,div{
    color: var(--text-primary);
}

main {
  overflow-y: auto;
  height: calc(100vh - 70px);
  margin: 0 rem(7);
}

.img_title {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

 .course_btn {
   @include box(rem(200), rem(50));
   border-radius: rem(30);
   @include flex(center, center);
   cursor: pointer;
 }

 .canvas_container{
  width: 80% !important;
  background-color: red !important;
 }

 .navlist {
 li{
   color: #1e1e1e;
  text-decoration: none;
  font-weight: 500;
  margin: 0 1rem;
  transition: color 0.3s ease;
  font-weight: 500;

  &:hover {
    color: #FFD166; // Accent color on hover
  }
 }
}

.circle{
  @include box(rem(40),rem(40));
  border-radius: 50%;
  background-color: var(--bg-primary);
  color: var(--white);
  @include flex(center,center);
  cursor: pointer;
  border: rem(3) solid var(--warning-100);
}
.pointer{
  cursor: pointer;
}

.icon{
  @include box(rem(20),rem(20));
}

.white{
  color: var(--white);
}